@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-200;
  background-image:
    radial-gradient(circle at 50% 0%, #1e293b 0%, transparent 70%),
    linear-gradient(rgba(2, 6, 23, 0.9), rgba(2, 6, 23, 1));
  min-height: 100vh;
}